# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.db
*.sqlite3

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Docker
*.pid

# MongoDB
*.wt
*.ns
*.log

# Ignore data folders
photoLeader/infrastructure/data/
